@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.home{
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(226, 224, 103); */
   
}
.intro{
    /* background-color:blanchedalmond; */
    height: 100%;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    
}

.introHeading{
    padding: 60px 50px 20px 20px;
    word-break: break-word;
    box-sizing: border-box;
    font-family: sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.description_text{
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;

}

.heading{
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 150px;
    padding-bottom: 80px;
    background-color: blanchedalmond;
}

.small_text{
    font-size: 18px;
    padding-bottom: 10px;
    color: var(--primary-color-one);
    font-family: var(--creote-family-one);
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 23px;
}

.heading_text{
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
    color: var(--heading-dark);
    font-family: var(--creote-family-one);
}

.small_text_sub{
    position: absolute;
    color: transparent;
    top: 0;
    left: 0;
    opacity: .1;
    font-size: 60px;
    line-height: 60px;
    font-family: var(--creote-family-one);
    font-weight: 700;
    -webkit-text-stroke: 1px var(--heading-dark);
    text-shadow: 1px 1px 0 var(--heading-dark),-1px -1px 0 var(--heading-dark),1px -1px 0 1px var(--heading-dark),-1px 1px 0 var(--heading-dark),1px 1px 0 var(--heading-dark);
}

.cards{
    display: flex;

}

.logo {
    height: auto;
    width: auto;
    margin: auto;
    /* background-color: blanchedalmond; */
}

.card{
    border: transparent;
}